@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&display=swap");
@font-face {
  font-family: "Bellefair";
  src: url("/fonts/Bellefair-Regular.woff2") format("woff2"), url("/fonts/Bellefair-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  font-family: "Bellefair";
}

.container {
  width: min(100%, 1440px);
  margin-inline: auto;
}

body.active {
  overflow: hidden;
}

header {
  padding-top: 2.5em;
  background: transparent;
  font-family: "Barlow Condensed", sans-serif;
}
@media (max-width: 768px) {
  header {
    padding-top: 0em;
  }
}
header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  position: relative;
}
header .nav::before {
  content: "";
  position: absolute;
  width: 473px;
  height: 1px;
  left: 200px;
  top: 50px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.25;
  z-index: 99;
}
@media (max-width: 768px) {
  header .nav::before {
    display: none;
  }
}
header .nav .logo {
  padding-left: 3.5em;
  z-index: 9999;
}
@media (max-width: 768px) {
  header .nav .logo {
    padding-left: 2.5em;
    padding-top: 1em;
  }
}
header .nav .ham {
  display: none;
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("/assets/shared/icon-hamburger.svg");
}
header .nav .ham.active {
  background-image: url("/assets/shared/icon-close.svg");
}
@media (max-width: 440px) {
  header .nav .ham {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1.5em;
    margin-top: 1.5em;
    z-index: 9999;
  }
}
header .nav .navBar {
  height: 96px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  display: flex;
  align-items: center;
  padding-inline: 7em;
}
@media (max-width: 768px) {
  header .nav .navBar {
    padding-right: 3em;
    padding-left: 2.4em;
  }
}
@media (max-width: 440px) {
  header .nav .navBar {
    width: 100%;
    padding-inline: 1.5em;
    width: 254px;
    height: 680px;
    z-index: 999;
    top: 0;
    position: absolute;
    right: 0px;
    border: 0px solid #979797;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742271423px);
    transform: translateX(-200%);
    transition: transform 1s ease-in;
  }
}
header .nav .navBar.active {
  transform: translate(0%);
  transition: transform 1s ease-in;
}
header .nav .navBar ul {
  display: flex;
  flex-direction: row;
  height: 96px;
  align-items: center;
  margin-right: 3.5em;
}
@media (max-width: 768px) {
  header .nav .navBar ul {
    margin-right: 0em;
  }
}
@media (max-width: 440px) {
  header .nav .navBar ul {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 9em;
    width: 100%;
    height: 100%;
    padding-bottom: 5em;
  }
}
header .nav .navBar ul li {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.495em;
  padding-block: 2.4em;
  cursor: pointer;
}
@media (max-width: 440px) {
  header .nav .navBar ul li {
    padding-block: 0.5em;
    align-items: center;
    height: fit-content;
    width: 100%;
    gap: 0.7em;
    margin-bottom: 0.7em;
  }
  header .nav .navBar ul li:hover {
    border-right: 4px solid #fff;
  }
}
header .nav .navBar ul li:not(:last-child) {
  margin-right: 3em;
  gap: 0.5em;
}
@media (max-width: 768px) {
  header .nav .navBar ul li:not(:last-child) {
    margin-right: 2.1em;
  }
}
header .nav .navBar ul li:nth-child(2) {
  margin-right: 3.2em;
  gap: 0.75em;
}
@media (max-width: 768px) {
  header .nav .navBar ul li:nth-child(2) {
    margin-right: 2.6em;
  }
}
header .nav .navBar ul li:first-child {
  margin-right: 3.4em;
  gap: 0.4em;
  padding-left: 0.8em;
}
@media (max-width: 768px) {
  header .nav .navBar ul li:first-child {
    margin-right: 2.3em;
  }
}
@media (max-width: 440px) {
  header .nav .navBar ul li:first-child {
    margin-right: 0em;
    padding-left: 0em;
  }
}
header .nav .navBar ul li:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #ccc;
  transition: background 1s ease-in;
}
@media (max-width: 440px) {
  header .nav .navBar ul li:hover::after {
    content: none;
  }
}
header .nav .navBar ul li.active {
  border-bottom: 3px solid #fff;
}
@media (max-width: 440px) {
  header .nav .navBar ul li.active {
    border-bottom: none;
  }
}
header .nav .navBar ul li a {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: 1em;
  font-weight: 300;
}
@media (max-width: 768px) {
  header .nav .navBar ul li a {
    font-size: 14px;
    letter-spacing: 2.36px;
  }
}
header .nav .navBar ul li span {
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.7px;
  font-size: 1em;
}
@media (max-width: 768px) {
  header .nav .navBar ul li span {
    display: none;
  }
}
@media (max-width: 440px) {
  header .nav .navBar ul li span {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */