---
import Crewpart from "../components/Crewpart.vue";
import Top from "../components/Top.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Crew page">
       <main> 
            <div class="crew">
              <div class="cr">
                 <Top num="02" desc="meet your crew" />
              </div>
                <Crewpart client:load/>
            </div>
        </div>
    </main>
</Layout>

<style lang="scss">
    body {
        width: 100%;
        height: 100dvh;
        background-image: url("../assets/crew/background-crew-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        
    }
   
    .crew{
        width:90%;
        margin-inline:auto;
        
        .cr{
            margin-left:6.8em;
        }
    }
     @media screen and (max-width: 768px) {
        body {
            background-image: url("../assets/crew/background-crew-tablet.jpg");
            height: max-content;
        }
         .crew .cr{
            margin-left:3.6em;
        }
    }

    /* Small devices */
    @media screen and (max-width: 375px) {
        body {
            background-image: url("../assets/crew/background-crew-mobile.jpg");
             height: 100%;
            .crew{
            width:100%;
            margin-inline:auto;
            
            .cr{
                margin-left:0;
            }
        }
        }
    }
</style>
