---
import Top from "../components/Top.astro";
import Layout from "../layouts/Layout.astro";
import Destinatn from "../components/Destinatn.vue";
import Sus from "../components/Sus.vue";
---

<Layout title="Destination page">
    <main>
        <div class="container ">
            <div class="destination">
               <Top num="01" desc="pick your destination" />
               <Sus client:load>
                <Destinatn client:load />
                </Sus>
               
            </div> 
        </div>
    </main>
</Layout>

<style>
    body {
        width: 100%;
        height: 100dvh;
        background-image: url("../assets/destination/background-destination-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media screen and (max-width: 768px) {
        body {
            background-image: url("../assets/destination/background-destination-tablet.jpg");
            height: max-content;
       
        }
    }
    /* Small devices */
    @media screen and (max-width: 375px) {
        body {
            background-image: url("../assets/destination/background-destination-mobile.jpg");
        }
    }
    .destination{
        width:75%;
        margin-inline:auto;
        background: #0b0d170c;
    }
</style>
