---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Destination page">
    <main></main>
</Layout>

<style>
    body {
        width: 100%;
        height: 100dvh;
        background-image: url("assets/destination/background-destination-desktop.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media screen and (max-width: 768px) {
        body {
            background-image: url("assets/destination/background-destination-tablet.jpg");
        }
    }
    /* Small devices */
    @media screen and (max-width: 375px) {
        body {
            background-image: url("assets/destination/background-destination-mobile.jpg");
        }
    }
</style>
