---

---

<header >
    <div class="container">
      <div class="nav">
         <div class="logo">
        <img src="./assets/shared/logo.svg" alt="logo image">    
       </div> 
       <div class="navBar">
        <ul>
            <li  class="active" ><span>00</span><a href="/">home</a></li>
            <li class="active"><span>01</span><a href="./destination">destination</a></li>
            <li class="active"><span>02</span><a href="./crew">crew</a></li>
            <li class="active"><span>03</span><a href="./tech">technology</a></li>
        </ul>
       </div>
       <div class="ham"></div>
      </div>
    </div>
</header>

 <!-- <script  is:inline src="/scripts/index.js"></script> -->