---
export interface Props{
    text:string;
}
const { text} = Astro.props;
---

<p>{text}</p>

<style>
     p{
		font-size:18px;
		color:#d0d6f9;
		line-height: 32px;
		font-weight: 400;
		font-family: 'Barlow', sans-serif;

	}
	@media screen and (max-width:840px) {
		p{
			font-size:16px;
			line-height: 28px;
			text-align:center;
		}
	}
	@media screen and (max-width:440px) {
		p{
			font-size:15px;
			line-height: 25px;
			text-align:center;
		}
	}
</style>