---
export interface Props{
    num:String;
    desc:String;
}
const {num,desc} = Astro.props;
---

<p><span>{num }</span>{desc}</p>

<style >
    p{
        display: flex;

         line-height:33.6px;
         font-family: 'Barlow Condensed';
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 4.725px;
            color:#fff;
            text-transform: uppercase;
            margin-left: -.44em;
            margin-top:2.75em;
            gap: .88em;
       
    }
        p  span{
            font-family: 'Barlow Condensed';
            font-weight: 600;
             color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.25;
        }
    @media  screen and (max-width:768px){
        p{
            font-size: 20px;
            font-weight: 300;
            letter-spacing: 3.36px;
            margin-left: -2.9em;
            margin-top:1.8em;
            gap: .88em;
        }
        p  span{
            font-size: 20px;
            font-weight: 600;
        }
    }
</style>