@forward "./partials/";
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;700&display=swap');
@mixin responsive($size){
    @media (max-width: $size){
        @content;
    }
}
header{
    padding-top: 2.5em;
    background: transparent;
    font-family: 'Barlow Condensed',sans-serif;
    @include responsive(768px){
        padding-top: 0em;
    }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: transparent;
           &::before {
               content: "";
               position: absolute;
               width: 473px;
               height: 1px;
               left: 240px;
               top: 88px;
               background: #FFFFFF;
               mix-blend-mode: normal;
               opacity: 0.25;
               z-index: 99;
               @include responsive(768px) {
                     display: none;
               }
           }
        
       .logo{
         padding-left: 3.5em;
            @include responsive(768px) {
                padding-left: 2.5em;
            }
       }

        .ham{
            display: none;
        }
        .navBar{
            height: 96px;
           background: rgba(255, 255, 255, 0.04);
           backdrop-filter: blur(40.7742px);
            display: flex;
            align-items: center;
            padding-inline: 7em;
            @include responsive(768px) {
                padding-right: 3em;
                padding-left: 2.4em;
            }
         

        ul{
            display: flex;
            flex-direction: row;
            height: 96px;
            align-items: center;
            margin-right: 3.5em;
            @include responsive(768px) {
              margin-right: 0em;  
            }
            li{
                position: relative;
                display: flex;
                flex-direction: row;
                gap: .495em;
                // height: 100%;
                padding-block: 2.4em;
                &:not(:last-child){
                    margin-right: 3em;
                    gap:.5em;
                    @include responsive(768px){
                        margin-right: 2.1em
                    }
                }
                &:nth-child(2){
                    margin-right: 3.2em;
                    gap:.75em;
                    @include responsive(768px){
                        margin-right: 2.6em;
                    }
                }
                 &:first-child {
                     margin-right: 3.4em;
                      gap:.4em;
                      padding-left: .8em;
                        @include responsive(768px){
                            margin-right: 2.3em;
                        }
                    //   a{
                    //     margin-left: 1px;
                    //   }
                 }
                 cursor: pointer;
                 &:hover::after {
                     content: "";
                     position: absolute;
                     bottom: 0;
                     width: 90%;
                     height: 3px;
                     background: #ccc;
                     transition: background 1s ease-in;
                   
                 }
          
               
                a{
                     color: #fff;
                     font-family: 'Barlow Condensed',
                     sans-serif;
                     text-transform: uppercase;
                     letter-spacing: 2.7px;
                     font-size: 1em;
                     font-weight: 300;
                     @include responsive(768px) {
                        font-size: 14px;
                        letter-spacing: 2.36px;
                     }

                }
                span{
                     color: #fff;
                     font-family: 'Barlow Condensed',
                     sans-serif;
                     letter-spacing: 2.7px;
                     font-size: 1em;
                     @include responsive(768px){
                        display: none;
                     }

                }
            }
        }
        }
    }
}