---
export interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" href="/fonts/Bellefair-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/style/main.css">
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load />
		<slot />
	</body>
</html>
